<section>
 <div class="row">
   <div class="col m6 l5 s12" style="padding: 0px;">
      <app-navbar></app-navbar>
     <mat-card id="queue">
        <iframe width="100%" height="315" style="margin: 0px" src="https://www.youtube.com/embed/4IjfAC14YfM?controls=0&autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      

      </mat-card>
   </div>
   <div class="col m6 l7 s12" style="background: #eee; height: 750px;">
     <div class="row" style="margin-left: 2px;">
        <app-queue></app-queue>
     </div>
    
   </div>
 </div>
</section>