    <div class="row" [class.hide]="empty">
      <div class="mat-elevation-z8  " >
        <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
          <!-- Id Column -->
          <ng-container matColumnDef="reg_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Registral id</th>
            <td mat-cell *matCellDef="let row"><h4><b>{{row.patient.reg_id}}</b></h4>
              <p style="display:inline;" class="secondery">({{row.patient.first_name}} {{row.patient.father_name}})</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="humanWaitingTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival</th>
            <td mat-cell *matCellDef="let row">{{row.humanWaitingTime}}</td>
          </ng-container>

          <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Room number</th>
              <td mat-cell *matCellDef="let row">
                <h5  *ngIf="(row.physician)?.room_number == null" class="secondery">Waiting...</h5>
                <h3 *ngIf="(row.physician)?.room_number != null"><b>{{row.physician.room_number}}</b></h3>
              </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.active]="row._call == 1"></tr>
        </table>

        <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>
    </div>

    <div class="container" *ngIf="empty">
        <div class="row">
          <mat-card style="margin-top: 25%">
            <div style="text-align: center; color: gray; "> 
                <div class="container" style="width:220px; height:220px; border-radius: 50%; background-color: #f2f2f2">
                  <div class="row">
                    <img src="/img/bench.svg" style="width: 150px; height: 150px; color: red; margin-top: 28px"/>
                  </div>
                </div> 
                <h4 class="secondery">Empty queue</h4>
              </div>
          </mat-card>
        </div>
      </div> 